#logo {
  height: 60px;
  width: 60px;
  position: relative;
  left: 220px;
  border-radius: 4px;
  position: relative;
  left: 320px;
}
.main-container {
  align-items: center;
  height: 100vh;
  background-color: #c9f5c3;
  display: grid;
  align-items: center;
  justify-content: center;
}
.container {
  background: url('bg.jpg') no-repeat center center/cover;
  /* background-color: yellow; */
  height: 80vh;
  width: 500px;
  position: relative;
  left: 100px;
  padding: 1px;
  overflow-y: auto;
  border-radius: 10px;
}
.send {
  width: 700px;
}
#messageInp {
  position: relative;

  width: 442px;
}
.message {
  width: auto;
  height: auto;
  padding: 2px 7px;
  margin: 10px 15px;
  border: 2px solid gray;
  background-color: rgb(212, 255, 184);
  border-radius: 8px;
}
.left {
  float: left;
  clear: both;
  background-color: rgb(255, 255, 255);
}

.right {
  float: right;
  clear: both;
}
.send {
  position: relative;
  left: 100px;
  bottom: 17px;
}
